.invalid-feedback {
    display: block;
    color: #dc3545; /* Color rojo para errores */
}

.is-invalid {
    border-color: #dc3545;
}

.is-valid {
    border-color: #28a745; /* Color verde para éxito */
}

.alert {
    display: none; /* Asegúrate de que los mensajes están ocultos por defecto */
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
